In [55]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [56]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('Finance_dataset.csv')

In [57]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [58]:
df.shape

(700, 16)

In [59]:
df.columns

Index(['Segment', 'Country', ' Product ', ' Discount Band ', ' Units Sold ',
       ' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ',
       '  Sales ', ' COGS ', ' Profit ', 'Date', 'Month Number',
       ' Month Name ', 'Year'],
      dtype='object')

In [60]:
df.dtypes

Segment                  object
Country                  object
 Product                 object
 Discount Band           object
 Units Sold              object
 Manufacturing Price     object
 Sale Price              object
 Gross Sales             object
 Discounts               object
  Sales                  object
 COGS                    object
 Profit                  object
Date                     object
Month Number              int64
 Month Name              object
Year                      int64
dtype: object

In [61]:
duplicated_rows = df[df.duplicated()]
data_cleaned = df.drop_duplicates()

In [62]:
df['  Sales '] = df['  Sales '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '')
df[' Profit '] = df[' Profit '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')
print(df)

              Segment                   Country     Product   Discount Band   \
0          Government                    Canada   Carretera            None
1          Government                   Germany   Carretera            None
2           Midmarket                    France   Carretera            None
3           Midmarket                   Germany   Carretera            None
4           Midmarket                    Mexico   Carretera            None
..                ...                       ...          ...             ...
695    Small Business                    France    Amarilla            High
696    Small Business                    Mexico    Amarilla            High
697        Government                    Mexico     Montana            High
698        Government                    Canada       Paseo            High
699  Channel Partners  United States of America         VTT            High

     Units Sold   Manufacturing Price   Sale Price     Gross Sales   \
0     $1,618.50                 $3.00       $20.00      $32,370.00
1     $1,321.00                 $3.00       $20.00      $26,420.00
2     $2,178.00                 $3.00       $15.00      $32,670.00
3       $888.00                 $3.00       $15.00      $13,320.00
4     $2,470.00                 $3.00       $15.00      $37,050.00
..           ...                   ...          ...             ...
695   $2,475.00               $260.00      $300.00    $7,42,500.00
696     $546.00               $260.00      $300.00    $1,63,800.00
697   $1,368.00                 $5.00        $7.00       $9,576.00
698     $723.00                $10.00        $7.00       $5,061.00
699   $1,806.00               $250.00       $12.00      $21,672.00

         Discounts        Sales            COGS      Profit         Date  \
0             $-       32370.00      $16,185.00    16185.00   01/01/2014
1             $-       26420.00      $13,210.00    13210.00   01/01/2014
2             $-       32670.00      $21,780.00    10890.00   01/06/2014
3             $-       13320.00       $8,880.00     4440.00   01/06/2014
4             $-       37050.00      $24,700.00    12350.00   01/06/2014
..              ...          ...             ...         ...         ...
695   $1,11,375.00    631125.00    $6,18,750.00    12375.00   01/03/2014
696     $24,570.00    139230.00    $1,36,500.00     2730.00   01/10/2014
697      $1,436.40      8139.60       $6,840.00     1299.60   01/02/2014
698        $759.15      4301.85       $3,615.00      686.85   01/04/2014
699      $3,250.80     18421.20       $5,418.00    13003.20   01/05/2014

     Month Number  Month Name   Year
0               1     January   2014
1               1     January   2014
2               6        June   2014
3               6        June   2014
4               6        June   2014
..            ...          ...   ...
695             3       March   2014
696            10     October   2014
697             2    February   2014
698             4       April   2014
699             5         May   2014

[700 rows x 16 columns]

C:\Users\Vidmantė\AppData\Local\Temp\ipykernel_11056\1117056723.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['  Sales '] = df['  Sales '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '')
C:\Users\Vidmantė\AppData\Local\Temp\ipykernel_11056\1117056723.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[' Profit '] = df[' Profit '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')

In [63]:
numeric_df = df.apply(pd.to_numeric, errors='coerce')

In [64]:
is_all_numeric = not numeric_df.isnull().values.any()
print(is_all_numeric)

False

In [65]:
df[' Profit '].replace('', np.nan, inplace=True)

In [66]:
df[' Profit '] = df[' Profit '].astype(float)
df['  Sales '] = df['  Sales '].astype(float)

In [67]:
df.dropna(subset=[' Profit '], inplace=True)
print (df)

              Segment                   Country     Product   Discount Band   \
0          Government                    Canada   Carretera            None
1          Government                   Germany   Carretera            None
2           Midmarket                    France   Carretera            None
3           Midmarket                   Germany   Carretera            None
4           Midmarket                    Mexico   Carretera            None
..                ...                       ...          ...             ...
695    Small Business                    France    Amarilla            High
696    Small Business                    Mexico    Amarilla            High
697        Government                    Mexico     Montana            High
698        Government                    Canada       Paseo            High
699  Channel Partners  United States of America         VTT            High

     Units Sold   Manufacturing Price   Sale Price     Gross Sales   \
0     $1,618.50                 $3.00       $20.00      $32,370.00
1     $1,321.00                 $3.00       $20.00      $26,420.00
2     $2,178.00                 $3.00       $15.00      $32,670.00
3       $888.00                 $3.00       $15.00      $13,320.00
4     $2,470.00                 $3.00       $15.00      $37,050.00
..           ...                   ...          ...             ...
695   $2,475.00               $260.00      $300.00    $7,42,500.00
696     $546.00               $260.00      $300.00    $1,63,800.00
697   $1,368.00                 $5.00        $7.00       $9,576.00
698     $723.00                $10.00        $7.00       $5,061.00
699   $1,806.00               $250.00       $12.00      $21,672.00

         Discounts      Sales            COGS    Profit         Date  \
0             $-      32370.00     $16,185.00   16185.00  01/01/2014
1             $-      26420.00     $13,210.00   13210.00  01/01/2014
2             $-      32670.00     $21,780.00   10890.00  01/06/2014
3             $-      13320.00      $8,880.00    4440.00  01/06/2014
4             $-      37050.00     $24,700.00   12350.00  01/06/2014
..              ...        ...             ...       ...         ...
695   $1,11,375.00   631125.00   $6,18,750.00   12375.00  01/03/2014
696     $24,570.00   139230.00   $1,36,500.00    2730.00  01/10/2014
697      $1,436.40     8139.60      $6,840.00    1299.60  01/02/2014
698        $759.15     4301.85      $3,615.00     686.85  01/04/2014
699      $3,250.80    18421.20      $5,418.00   13003.20  01/05/2014

     Month Number  Month Name   Year
0               1     January   2014
1               1     January   2014
2               6        June   2014
3               6        June   2014
4               6        June   2014
..            ...          ...   ...
695             3       March   2014
696            10     October   2014
697             2    February   2014
698             4       April   2014
699             5         May   2014

[695 rows x 16 columns]

In [68]:
df.describe()

             Sales         Profit   Month Number         Year
count  6.950000e+02     695.000000    695.000000   695.000000
mean   1.695977e+05   26544.380993      7.902158  2013.748201
std    2.374409e+05   41515.104658      3.373773     0.434359
min    1.655080e+03     285.600000      1.000000  2013.000000
25%    1.585118e+04    4013.630000      6.000000  2013.000000
50%    3.473610e+04   11135.600000      9.000000  2014.000000
75%    2.615750e+05   23918.500000     10.000000  2014.000000
max    1.159200e+06  262200.000000     12.000000  2014.000000

In [69]:
df[' Profit '] = df[' Profit '].astype(int)
df['  Sales '] = df['  Sales '].astype(int)

In [70]:
df['Date'] = pd.to_datetime(df['Date'])
df['date_eu'] = df['Date'].dt.strftime('%Y/%d/%m')
print(df)

              Segment                   Country     Product   Discount Band   \
0          Government                    Canada   Carretera            None
1          Government                   Germany   Carretera            None
2           Midmarket                    France   Carretera            None
3           Midmarket                   Germany   Carretera            None
4           Midmarket                    Mexico   Carretera            None
..                ...                       ...          ...             ...
695    Small Business                    France    Amarilla            High
696    Small Business                    Mexico    Amarilla            High
697        Government                    Mexico     Montana            High
698        Government                    Canada       Paseo            High
699  Channel Partners  United States of America         VTT            High

     Units Sold   Manufacturing Price   Sale Price     Gross Sales   \
0     $1,618.50                 $3.00       $20.00      $32,370.00
1     $1,321.00                 $3.00       $20.00      $26,420.00
2     $2,178.00                 $3.00       $15.00      $32,670.00
3       $888.00                 $3.00       $15.00      $13,320.00
4     $2,470.00                 $3.00       $15.00      $37,050.00
..           ...                   ...          ...             ...
695   $2,475.00               $260.00      $300.00    $7,42,500.00
696     $546.00               $260.00      $300.00    $1,63,800.00
697   $1,368.00                 $5.00        $7.00       $9,576.00
698     $723.00                $10.00        $7.00       $5,061.00
699   $1,806.00               $250.00       $12.00      $21,672.00

         Discounts     Sales            COGS    Profit        Date  \
0             $-        32370     $16,185.00      16185 2014-01-01
1             $-        26420     $13,210.00      13210 2014-01-01
2             $-        32670     $21,780.00      10890 2014-01-06
3             $-        13320      $8,880.00       4440 2014-01-06
4             $-        37050     $24,700.00      12350 2014-01-06
..              ...       ...             ...       ...        ...
695   $1,11,375.00     631125   $6,18,750.00      12375 2014-01-03
696     $24,570.00     139230   $1,36,500.00       2730 2014-01-10
697      $1,436.40       8139      $6,840.00       1299 2014-01-02
698        $759.15       4301      $3,615.00        686 2014-01-04
699      $3,250.80      18421      $5,418.00      13003 2014-01-05

     Month Number  Month Name   Year     date_eu
0               1     January   2014  2014/01/01
1               1     January   2014  2014/01/01
2               6        June   2014  2014/06/01
3               6        June   2014  2014/06/01
4               6        June   2014  2014/06/01
..            ...          ...   ...         ...
695             3       March   2014  2014/03/01
696            10     October   2014  2014/10/01
697             2    February   2014  2014/02/01
698             4       April   2014  2014/04/01
699             5         May   2014  2014/05/01

[695 rows x 17 columns]

In [71]:
import matplotlib.pyplot as plt
import seaborn as sns

In [72]:
new_df = df.loc[:, [' Profit ', 'Year', ' Product ']]
print(new_df)

      Profit   Year     Product
0       16185  2014   Carretera
1       13210  2014   Carretera
2       10890  2014   Carretera
3        4440  2014   Carretera
4       12350  2014   Carretera
..        ...   ...          ...
695     12375  2014    Amarilla
696      2730  2014    Amarilla
697      1299  2014     Montana
698       686  2014       Paseo
699     13003  2014         VTT

[695 rows x 3 columns]

In [73]:
new_df.drop(new_df[new_df['Year'] == 2013].index, inplace = True)
print(new_df)

      Profit   Year     Product
0       16185  2014   Carretera
1       13210  2014   Carretera
2       10890  2014   Carretera
3        4440  2014   Carretera
4       12350  2014   Carretera
..        ...   ...          ...
695     12375  2014    Amarilla
696      2730  2014    Amarilla
697      1299  2014     Montana
698       686  2014       Paseo
699     13003  2014         VTT

[520 rows x 3 columns]

In [75]:
df2=new_df.groupby([' Product '])[' Profit '].sum().sort_values(ascending=False).head()
print(df2)

 Product
 Paseo         3936875
 VTT           2318646
 Amarilla      2251986
 Carretera     2079153
 Velo          1837382
Name:  Profit , dtype: int32

##### TASK 4. The most profitable product in 2014 is Paseo.