In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('Finance_dataset.csv')

In [6]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [7]:
df.shape

(700, 16)

In [8]:
df.columns

Index(['Segment', 'Country', ' Product ', ' Discount Band ', ' Units Sold ',
       ' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ',
       '  Sales ', ' COGS ', ' Profit ', 'Date', 'Month Number',
       ' Month Name ', 'Year'],
      dtype='object')

In [9]:
df.dtypes

Segment                  object
Country                  object
 Product                 object
 Discount Band           object
 Units Sold              object
 Manufacturing Price     object
 Sale Price              object
 Gross Sales             object
 Discounts               object
  Sales                  object
 COGS                    object
 Profit                  object
Date                     object
Month Number              int64
 Month Name              object
Year                      int64
dtype: object

In [10]:
duplicated_rows = df[df.duplicated()]
data_cleaned = df.drop_duplicates()

In [12]:
df['  Sales '] = df['  Sales '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '')
df[' Profit '] = df[' Profit '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')

C:\Users\Vidmantė\AppData\Local\Temp\ipykernel_16780\4272327007.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['  Sales '] = df['  Sales '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '')
C:\Users\Vidmantė\AppData\Local\Temp\ipykernel_16780\4272327007.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[' Profit '] = df[' Profit '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')

In [13]:
numeric_df = df.apply(pd.to_numeric, errors='coerce')

In [14]:
is_all_numeric = not numeric_df.isnull().values.any()
print(is_all_numeric)

False

In [15]:
df[' Profit '].replace('', np.nan, inplace=True)

In [16]:
df[' Profit '] = df[' Profit '].astype(float)
df['  Sales '] = df['  Sales '].astype(float)

In [17]:
df.dropna(subset=[' Profit '], inplace=True)

In [18]:
df.describe()

             Sales         Profit   Month Number         Year
count  6.950000e+02     695.000000    695.000000   695.000000
mean   1.695977e+05   26544.380993      7.902158  2013.748201
std    2.374409e+05   41515.104658      3.373773     0.434359
min    1.655080e+03     285.600000      1.000000  2013.000000
25%    1.585118e+04    4013.630000      6.000000  2013.000000
50%    3.473610e+04   11135.600000      9.000000  2014.000000
75%    2.615750e+05   23918.500000     10.000000  2014.000000
max    1.159200e+06  262200.000000     12.000000  2014.000000

In [19]:
df[' Profit '] = df[' Profit '].astype(int)
df['  Sales '] = df['  Sales '].astype(int)

In [20]:
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
new_df = df.loc[:, [' Profit ', 'Country']]
print(new_df)

      Profit                    Country
0       16185                    Canada
1       13210                   Germany
2       10890                    France
3        4440                   Germany
4       12350                    Mexico
..        ...                       ...
695     12375                    France
696      2730                    Mexico
697      1299                    Mexico
698       686                    Canada
699     13003  United States of America

[695 rows x 2 columns]

In [25]:
df2=new_df.groupby(['Country'])[' Profit '].sum().sort_values(ascending=False).head()
print(df2)

Country
France                      4032445
Germany                     3961339
Canada                      3858162
United States of America    3397304
Mexico                      3198884
Name:  Profit , dtype: int32

##### TASK 5. The most profitable country is France