In [32]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('Finance_dataset.csv')

In [34]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [35]:
df.shape

(700, 16)

In [36]:
df.columns

Index(['Segment', 'Country', ' Product ', ' Discount Band ', ' Units Sold ',
       ' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ',
       '  Sales ', ' COGS ', ' Profit ', 'Date', 'Month Number',
       ' Month Name ', 'Year'],
      dtype='object')

In [37]:
duplicated_rows = df[df.duplicated()]
data_cleaned = df.drop_duplicates()

In [38]:
df['  Sales '] = df['  Sales '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '')
df[' Profit '] = df[' Profit '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')
df[' Units Sold '] = df[' Units Sold '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')
df[' Sale Price '] = df[' Sale Price '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')

C:\Users\Vidmantė\AppData\Local\Temp\ipykernel_5028\3919424606.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['  Sales '] = df['  Sales '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '')
C:\Users\Vidmantė\AppData\Local\Temp\ipykernel_5028\3919424606.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[' Profit '] = df[' Profit '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')
C:\Users\Vidmantė\AppData\Local\Temp\ipykernel_5028\3919424606.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[' Units Sold '] = df[' Units Sold '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')
C:\Users\Vidmantė\AppData\Local\Temp\ipykernel_5028\3919424606.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[' Sale Price '] = df[' Sale Price '].str.replace(',', '').str.replace('$', '').str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace('    ', '')

In [39]:
numeric_df = df.apply(pd.to_numeric, errors='coerce')

In [40]:
is_all_numeric = not numeric_df.isnull().values.any()
print(is_all_numeric)

False

In [41]:
df[' Profit '].replace('', np.nan, inplace=True)
df[' Units Sold '].replace('', np.nan, inplace=True)
df[' Sale Price '].replace('', np.nan, inplace=True)

In [42]:
df[' Profit '] = df[' Profit '].astype(float)
df['  Sales '] = df['  Sales '].astype(float)
df[' Units Sold '] = df[' Units Sold '].astype(float)
df[' Sale Price '] = df[' Sale Price '].astype(float)

In [43]:
df.dropna(subset=[' Profit '], inplace=True)
df.dropna(subset=[' Units Sold '], inplace=True)
df.dropna(subset=[' Sale Price '], inplace=True)

In [44]:
df.describe()

,Units Sold,Sale Price,Sales,Profit,Month Number,Year
count,695.000000,695.000000,6.950000e+02,695.000000,695.000000,695.000000
mean,1609.601439,118.381295,1.695977e+05,26544.380993,7.902158,2013.748201
std,867.816570,137.266196,2.374409e+05,41515.104658,3.373773,0.434359
min,200.000000,7.000000,1.655080e+03,285.600000,1.000000,2013.000000
25%,905.000000,12.000000,1.585118e+04,4013.630000,6.000000,2013.000000
50%,1545.000000,20.000000,3.473610e+04,11135.600000,9.000000,2014.000000
75%,2230.750000,300.000000,2.615750e+05,23918.500000,10.000000,2014.000000
max,4492.500000,350.000000,1.159200e+06,262200.000000,12.000000,2014.000000

In [45]:
df[' Profit '] = df[' Profit '].astype(int)
df['  Sales '] = df['  Sales '].astype(int)
df[' Units Sold '] = df[' Units Sold '].astype(int)
df[' Sale Price '] = df[' Sale Price '].astype(int)

In [46]:
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
df2 = df.loc[:, [' Profit ', 'Country']]
print(df2)

      Profit                    Country
0       16185                    Canada
1       13210                   Germany
2       10890                    France
3        4440                   Germany
4       12350                    Mexico
..        ...                       ...
695     12375                    France
696      2730                    Mexico
697      1299                    Mexico
698       686                    Canada
699     13003  United States of America

[695 rows x 2 columns]

In [50]:
df2=df.groupby(['Country'])[' Profit '].sum().sort_values(ascending=False).head()
print(df2)

Country
France                      4032445
Germany                     3961339
Canada                      3858162
United States of America    3397304
Mexico                      3198884
Name:  Profit , dtype: int32

##### TASK2. Profit for each country (in descending order)

In [52]:
df3 = df.loc[:, [' Profit ', ' Product ']]
print(df3)

      Profit      Product
0       16185   Carretera
1       13210   Carretera
2       10890   Carretera
3        4440   Carretera
4       12350   Carretera
..        ...          ...
695     12375    Amarilla
696      2730    Amarilla
697      1299     Montana
698       686       Paseo
699     13003         VTT

[695 rows x 2 columns]

In [53]:
df3=df.groupby([' Product '])[' Profit '].sum().sort_values(ascending=False).head()
print(df3)

 Product
 Paseo         5038472
 VTT           3278062
 Amarilla      3057955
 Velo          2556872
 Carretera     2288997
Name:  Profit , dtype: int32

##### TASK2. Profit for each product (in descending order)

In [54]:
df['Revenue'] = df[' Units Sold '] * df[' Sale Price ']

In [55]:
print(df)

              Segment                   Country     Product   Discount Band   \
0          Government                    Canada   Carretera            None
1          Government                   Germany   Carretera            None
2           Midmarket                    France   Carretera            None
3           Midmarket                   Germany   Carretera            None
4           Midmarket                    Mexico   Carretera            None
..                ...                       ...          ...             ...
695    Small Business                    France    Amarilla            High
696    Small Business                    Mexico    Amarilla            High
697        Government                    Mexico     Montana            High
698        Government                    Canada       Paseo            High
699  Channel Partners  United States of America         VTT            High

      Units Sold   Manufacturing Price    Sale Price     Gross Sales   \
0            1618                $3.00             20     $32,370.00
1            1321                $3.00             20     $26,420.00
2            2178                $3.00             15     $32,670.00
3             888                $3.00             15     $13,320.00
4            2470                $3.00             15     $37,050.00
..            ...                   ...           ...             ...
695          2475              $260.00            300   $7,42,500.00
696           546              $260.00            300   $1,63,800.00
697          1368                $5.00              7      $9,576.00
698           723               $10.00              7      $5,061.00
699          1806              $250.00             12     $21,672.00

         Discounts     Sales            COGS    Profit         Date  \
0             $-        32370     $16,185.00      16185  01/01/2014
1             $-        26420     $13,210.00      13210  01/01/2014
2             $-        32670     $21,780.00      10890  01/06/2014
3             $-        13320      $8,880.00       4440  01/06/2014
4             $-        37050     $24,700.00      12350  01/06/2014
..              ...       ...             ...       ...         ...
695   $1,11,375.00     631125   $6,18,750.00      12375  01/03/2014
696     $24,570.00     139230   $1,36,500.00       2730  01/10/2014
697      $1,436.40       8139      $6,840.00       1299  01/02/2014
698        $759.15       4301      $3,615.00        686  01/04/2014
699      $3,250.80      18421      $5,418.00      13003  01/05/2014

     Month Number  Month Name   Year  Revenue
0               1     January   2014    32360
1               1     January   2014    26420
2               6        June   2014    32670
3               6        June   2014    13320
4               6        June   2014    37050
..            ...          ...   ...      ...
695             3       March   2014   742500
696            10     October   2014   163800
697             2    February   2014     9576
698             4       April   2014     5061
699             5         May   2014    21672

[695 rows x 17 columns]

In [56]:
df4 = df.loc[:, ['Revenue', 'Country']]
print(df4)

     Revenue                   Country
0      32360                    Canada
1      26420                   Germany
2      32670                    France
3      13320                   Germany
4      37050                    Mexico
..       ...                       ...
695   742500                    France
696   163800                    Mexico
697     9576                    Mexico
698     5061                    Canada
699    21672  United States of America

[695 rows x 2 columns]

In [57]:
df4=df.groupby(['Country'])['Revenue'].sum().sort_values(ascending=False).head()
print(df4)

Country
United States of America    27268905
Canada                      26931164
France                      25707499
Germany                     24821880
Mexico                      22308185
Name: Revenue, dtype: int32

##### TASK2. Revenue for each country (descending order)

In [58]:
df5 = df.loc[:, ['Revenue', ' Product ']]
print(df5)

     Revenue     Product
0      32360   Carretera
1      26420   Carretera
2      32670   Carretera
3      13320   Carretera
4      37050   Carretera
..       ...          ...
695   742500    Amarilla
696   163800    Amarilla
697     9576     Montana
698     5061       Paseo
699    21672         VTT

[695 rows x 2 columns]

In [59]:
df5=df.groupby([' Product '])['Revenue'].sum().sort_values(ascending=False).head()
print(df5)

 Product
 Paseo        34996043
 VTT          21967969
 Velo         19826601
 Amarilla     18902880
 Montana      16406837
Name: Revenue, dtype: int32

##### TASK2. Revenue for each product (descending order)